Assignment 2/7.dtd

		<!ELEMENT Email (Email_det)>
		<!ELEMENT Email_det (from,to,content,courses)>
		<!ELEMENT content (#PCDATA|person|exercises)*>
		<!ELEMENT exercises (exercise*)>
		<!ELEMENT exercise (topic,description)>
		<!ELEMENT from (#PCDATA)>
		<!ELEMENT to (#PCDATA)>
		<!ELEMENT person (#PCDATA)>
		<!ELEMENT topic (#PCDATA)>
		<!ELEMENT description (#PCDATA)>
		<!ELEMENT courses (#PCDATA)>