Assignment 2/8.dtd

		<!ELEMENT student (stud_det)>
		<!ELEMENT stud_det (rollno,name,marks,rank)>
		<!ELEMENT marks (web_technologies,XML,J2EE,NS)>
		<!ELEMENT rollno (#PCDATA)>
		<!ELEMENT name (#PCDATA)>
		<!ELEMENT web_technologies (#PCDATA)>
		<!ELEMENT XML (#PCDATA)>
		<!ELEMENT J2EE (#PCDATA)>
		<!ELEMENT NS (#PCDATA)>
		<!ELEMENT rank (#PCDATA)>