Assignment 3/1.xsd

<?xml version="1.0"?>
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:element name="student">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="fname" type="xs:string"/>
					<xs:element name="lname" type="xs:string"/>
					<xs:element name="address" type="xs:string"/>
					<xs:element name="percentage" type="xs:int"/>
					<xs:element name="current_year" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
	</xs:schema>